<nav>
  <ul>
    <li>
      <a href="/announcements/" title="Announcements for the Net" {{ slug == 'announcements' ? 'class="active"' : '' }}>Announcements</a>
    </li>
    <li>
      <a href="/schedule/" title="Net Control Schedule"
      {{ slug == 'schedule' ? 'class="active"' : '' }}>Schedule</a>
    </li>
    <li>
      <a href="/protocol/" title="Net Format and Script" {{ slug == 'protocol' ? 'class="active"' : '' }}>Protocol</a>
    </li>
    <li>
      <a href="/net-control-stations/" title="List of Net Control Stations" {{ slug == 'net-control-stations' ? 'class="active"' : '' }}>Net Controls</a>
    </li>
    <li>
      <a href="/arrl-section-officials/" title="List of Section Officials" {{ slug == 'arrl-section-officials' ? 'class="active"' : '' }}>Section Officials</a>
    </li>
  </ul>
</nav>
