<nav>
  <ul>
    <li {{ slug == 'announcements' ? 'class="active"' : '' }}>
      <a href="/announcements/" title="Announcements for the Net">Announcements</a>
    </li>
    <li {{ slug == 'schedule' ? 'class="active"' : '' }}>
      <a href="/schedule/" title="Net Control Schedule">Schedule</a>
    </li>
    <li {{ slug == 'protocol' ? 'class="active"' : '' }}>
      <a href="/protocol/" title="Net Format and Script">Protocol</a>
    </li>
    <li {{ slug == 'net_controls' ? 'class="active"' : '' }}>
      <a href="/net-control-stations/" title="List of Net Control Stations">Net Controls</a>
    </li>
    <li {{ slug == 'officials_list' ? 'class="active"' : '' }}>
      <a href="/arrl-section-officials/" title="List of Section Officials">Section Officials</a>
    </li>
  </ul>
</nav>
