<!DOCTYPE html>
<html>
<head>
  <title>{{ slug != 'home' ? title ~ ' - ' ~ site.title : title }}</title>
  <meta name="description" content="Reference material for EagleNet Net Control Stations, including a schedule, list of officials, and the script.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="{{ url }}">
  <link rel="author" href="https://plus.google.com/+KevinAshcraft">
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{{ abspath }}/styles/master.css">
</head>
<body>
  <header>
    <div>
      <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
      <div>
        <a><img src="/images/menu.svg" width="25" height="25"></a>
        {% include 'partials/navigation.twig' %}
      </div>
    </div>
  </header>
  <div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    {% include 'partials/footer.twig' %}
  </div>
</body>
<script src="{{ abspath }}/scripts/master.js"></script>
</html>
